.content{
    margin: auto;
    max-width: 500px;
}
.blackBox{
    background: black;
    height:390px;
    margin:100px auto;
    padding: 25px;
    width: 150px;
}
.doubleBlackBox{
    background: black;
    height:400px;
    margin:100px auto;
    padding: 25px;
    width: 300px;
}
.hideFromView{
    display:none;
}
.light{
    border: 5px solid black;
    border-radius: 50%;
    height:100px;
    margin: 10px 0;
    width: 100px;
}
.redLight{
    background: rgb(97, 20, 20);
}
.yellowArrow{
    color: rgb(51, 51, 21);
    font-size: 5em;
    padding-top: 22px;
    padding-left: 5px;
}
.yellowLight{
    background: rgb(51, 51, 21);
}
.greenArrow{
    color: rgb(23, 31, 13);
    font-size: 5em;
    padding-top: 22px;
    padding-left: 5px;
}
.greenLight{
    background: rgb(23, 31, 13);
}
.on{
    border:none;
}
.redLight.on{
    background: radial-gradient(rgb(255, 0, 0), rgb(245, 166, 48));
    box-shadow: 0px 0px 20px #FFD21C;
}
.yellowArrow.on{
    color: yellow;
}
.yellowLight.on{
    background: radial-gradient(yellow, rgb(245, 193, 48));
    box-shadow: 0px 0px 20px #FFD21C;
}
.greenArrow.on{
    color: greenyellow;
}
.greenLight.on{
    background: radial-gradient(greenyellow, rgb(61, 218, 13));
    box-shadow: 0px 0px 20px #FFD21C;
}
.blink{
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
  }